.customers{
    background-color: #FFFFFF;
}

.customers__container{
    padding-top: 95px;
    padding-bottom: 95px;
}

.customers__title{
margin-bottom: 50px;

text-transform: none;
font-style: normal;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.customers__list{
    display: flex;
    justify-content: center;
}


.customers__items{
    width: 170px;
    height: 92px;

    &:not(:last-child){
        margin-right: 30px;
    }
}


        .customers__link{
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            border: 1px solid #AFB1B8;
            border-radius: 4px;
            background-color: #FFFFFF;
            color: #AFB1B8;

            transition-property: border;
            transition-duration: 250ms;
            transition-timing-function: linear;

            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: linear;

            &:hover {
                border: 1px solid #2196F3;
                color: #2196F3;
              }
        }

      .customers__Logo{
        fill: currentColor;
      }