
.details{
        background-color: #FFFFFF;
}

.details__container {
        padding-top: 60px;
        padding-bottom: 15px;

    @media screen and (min-width: 768px) {
        padding-bottom: 60px;
        
    }

    @media screen and (min-width: 1200px) {
        padding-top: 95px;
        padding-bottom: 95px;
    }
}

.details__description{
    @media screen and (min-width: 480px) {
        margin: -15px;
       
    }

    @media screen and (min-width: 768px) {
        margin: -15px;
        display: flex;
        flex-wrap: wrap;
        
    }

    @media screen and (min-width: 1200px) {
        margin: -15px;
    }
}

.details__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
    
    @media screen and (min-width: 768px) {
        
        margin: 15px;
        width: calc((100% - 2 * 30px) / 2); 
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 4 * 30px) / 4); 
    }

    &:not(:last-child) .detalist__item{
        @media screen and (max-width: 767px){
            margin-bottom: 30px;
        } 
    }
    }


.details__icons{
        margin-bottom: 30px;
        height: 127px;
        width: 100%;
        background-color: #F5F4FA;
        fill: #212121;
        padding: 25px 100px;
        

    @media screen and (min-width: 480px) {        
        padding: 25px 190px;
       
    }

    @media screen and (min-width: 768px) {
        height: 120px;
        padding: 25px 142px;
    }

    @media screen and (min-width: 1200px) {       
        padding: 25px 100px;
    }
}

.details__title {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;

    @media screen and (min-width: 768px) {
        justify-content: flex-start;
    }
}


.detalist__item {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;

}

