.hero {
    background-color: 
    #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img-hiro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    display: block;  
}

.hero__title {
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__btn{
cursor: pointer;
background-color: #2196F3;
border-radius: 4px;
border: 2px solid transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
min-width: 200px;
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em; 
    color: #FFFFFF;

    &:hover,
    &:focus,
    &:active{
background-color: #2196F3;
}
}
