
.modal{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: linear;  

    &.is-hidden .modal__container{
        transform: translate(-50%, -50%) scale(0);
       
    }
}



.modal__container{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%) scale(1);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: linear;

} 



.modal__btn{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms linear;
    
    &:hover,
    &:focus{
    fill: var(--accent-color);
}
}



.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal__heading{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;

margin-bottom: 10px;
}

.modal__imput__group label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 5px;
    display: block;
    }
    
    
    .modal__imput__group:nth-child(-n + 3){
        margin-bottom: 10px;
        &:nth-child(4){
            margin-bottom: 20px;
        }
        &:nth-child(5){
            margin-bottom: 30px;
            justify-content: center;
            display: flax;
            align-items: center;
        }
    }
   
    
    .modal__imput__wrapper{
        position: relative;
    }
    
    .modal__input{
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 12px;
        padding-left: 42px;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: linear;

        &:hover,
        &:focus{
        border-color: var(--accent-color);
        outline: transparent;
    }
    &:hover + svg,
    &:focus + svg{
        fill: var(--accent-color);
    }
    }
    
   

    .modal__input__icon{
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: linear;
    }
    
   

     
    .modal__text{
        width: 448px;
        height: 120px;
        left: 576px;
        top: 519px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
        padding: 12px 16px;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: linear;

        &:hover,
        &:focus{
            border-color: var(--accent-color);
            outline: transparent;
        }
        &::placeholder{
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
            }
        }
        
      
    
    
    label.modal__politik__label{
    display: flax;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
   
    }
    
    .modal__politic__check2{
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        margin-right: 10px;
        justify-content: center;
        display: flax;
        align-items: center;
        
        & svg{
            fill: transparent;
        }
    }
    
    .modal__politic__check:checked + label > span{
        border: none;
        background-color: var(--accent-color);

        &:checked + label > span svg{
            fill: var(--color-white);
        }
    }
    
    
    
    .modal__contract{
        padding-left: 3px;
        color: var(--accent-color);

        &::after{
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: 5px;
            width: 112px;
            height: 1px;
            background-color: var(--accent-color);
        
        }
    }
    
    .modal__contract__span{
        position: relative;
    }
    
    
    
    .modal__form__btn{
        display: inline-block;
        display: flax;
        align-items: center;
        text-align: center;
        margin-left: 113px;
        margin-right: auto;
        
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        
        padding: 10px 52px;
        background: #188CE8;
        border: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        }
        