.portfolio__container{
    padding-top: 35px;
    padding-bottom: 95px;
}



.portfolio__list {
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
    & .portfolio__list__name:not(:last-child){
        margin-right: 27px;
    }
}





.portfolio__list__name{
    background-color: #FFFFFF;
    transition-property: border, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: linear;

&:hover,
&:focus{
border: 1px solid #EEEEEE;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
& > .portfolio__border
{
    padding-top: 20px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    
}
}




.portfolio__img__text{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: #FFFFFF;
background-color: rgba(33, 150, 243, 0.9);
padding: 63px 24px;

transform: translateY(100%);
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: linear;
}

.portfolio__thumb{
    position: relative;
    overflow: hidden;

    &:hover .portfolio__img__text{
        transform: translateY(0%);
    }
}


.portfolio__img__title{
    display: flex;
    margin-left: 25px;
    margin-right: auto;
    margin-bottom: 5px;
}
.portfolio__img__item{
    display: flex;
    margin-left: 25px;
    margin-right: auto;
    margin-bottom: 20px;

}