.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.header__container{
    display: flax;
    align-items: center;
}

.header__logo {
        padding: 25px 0;
        margin-right: 90px;
        display: block;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #000000;

        & > span {
            color: #2196F3;
            }
        }

       

        .header__list{
            display: flex;

            & .header__item:not(:last-child) {
                margin-right: 50px;
            }
        }

        .header__link {
            position: relative;
            display: block;
            padding-top: 32px;
            padding-bottom: 33px;

            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: linear;


            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: #212121;

            &:hover,
            &:focus,
            &:active{
                color: var(--accent-color);
            }
        }

        .header__active:visited{
            color: var(--accent-color);

            &::after{
                position: absolute;
                left: 0;
                bottom: 0;
                content: '';
                display: block;
                height: 4px;
                width: 100%;
                background-color: var(--accent-color);
                border-radius: 2px;
            }
        }

        .header__contact{
            margin-left: auto;
            display: flex;

            & .header__item:not(:last-child){
                margin-right: 40px;
            }
        }

        .header__contacts {
        display: flax;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;

        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: linear;

        &:hover,
        &:focus{
            color: #2196F3
        }
        }

        .header__icon__envelope{
            margin-right: 10px;
            fill: currentColor;

            &:hover,
            &:focus{
                fill: currentColor;
            }
        } 
        .header__icon__smartphone{
            margin-right: 10px;
            fill: currentColor;

            &:hover,
            &:focus{
            fill: currentColor;
        }
        }
        