
.work {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.work{
    background-color: #FFFFFF
}

.work__container {
   padding-top: 0px;
   padding-bottom: 95px;
   
}

.work__title {
text-align: center;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
margin-bottom: 50px;
}

.work__link {
    display: flex;

    & .work__links:not(:last-child) {
        margin-right: 30px;
        }
}

.work__links{
    position: relative;

    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 70px;
        display: inline-block;
        background-color: rgba(47, 48, 58, 0.8);;
        }
}



.work__item{
    position: absolute;
    bottom: 12%;
    right: 50%;
    min-width: 100%;
    transform: translate(50%, 50%);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
