
// ---------BASE---------

@import './base/portfolio-reset';
@import './base/portfolio-common';
@import './base/portfolio-hidden';

// ----------UTILIS---------

@import './utils/portfolio-variables';
@import './utils/portfolio-placeholder';

// ---------COMPONENTS---------

@import './components/portfolio-container';
@import './components/portfolio-title';
@import './components/portfolio-items';

// ---------LAYOTS---------

@import './layots/portfolio-header';
@import './layots/portfolio-works';
@import './layots/portfolio-portfolio';
@import './layots/portfolio-foter';
@import './layots/portfolio-form';


